html,
body {
    width: 100%;
    height: 100%;
    display: flex;
    justify-content: center;
    align-items: center;
    /* margin: 0; */
    padding-top: 200px;
    padding-bottom: 200px;
    background-color: #fafafa;
}

.container {
    width: 1024px;
    background-color: #fff;
}

.menu {
    display: flex;
    width: 940px;
    height: 42px;
    /* padding: 30px 42px 30px 42px; */
    justify-content: space-between;
    margin: 30px auto 30px auto;
}

ul.items {
    width: 400px;
    display: flex;
    /* justify-content: space-around; */
    align-items: center;
}

ul.items li.item {
    display: block;
    width: 100px;
    text-align: center;
    /* font-size: 16px; */
    font: normal normal 600 16px/73px PingFang TC;
    color: #3F5D45;
}

ul.items li.item.cart {
    display: block;
    text-align: right;
    padding-top: 12px;
    /* width: 24px; */
}

.banner {
    width: 940px;
    margin: 0 auto;
}

.content {
    margin: 60px auto 0px auto;
    width: 940px;
    display: flex;
    /* align-items: center; */
    /* justify-content: space-between; */
}

ul.list_menu {
    display: flex;
    flex-direction: column;
    justify-content: flex-start;
    font: normal normal 600 24px/40px PingFang TC;
    color: #3F5D45;
    width: 300px;
}

ul.list_menu li {
    display: block;
    height: 65px;
    text-align: center;
    border: 1px solid #EAF0ED;
    box-sizing: border-box;
    line-height: 65px;
}

ul.list_menu li.title {
    color: #EAF0ED;
    background-color: #3f5d45;
}

ul.list_menu li.selected {
    background-color: #EAF0ED;
}

ul.products_menu {
    display: flex;
    margin-left: 20px;
    flex-wrap: wrap;
    width: 620px;
    justify-content: space-between;
    font: normal normal 300 20px/20px PingFang TC;
    text-align: center;
    box-sizing: border-box;
}

ul.products_menu li {
    box-sizing: border-box;
    width: 300px;
    margin-bottom: 20px;
}

ul.products_menu li.product {
    position: relative;
}

ul.products_menu li.product::before {
    content: "本日精選";
    display: block;
    writing-mode: vertical-rl;
    position: absolute;
    text-align: left;
    font: normal normal 600 16px/20px PingFang TC;
    color: #EAF0ED;
    background-color: #3F5D45;
    width: 36px;
    height: 107px;
    text-align: center;
    line-height: 38px;
    letter-spacing: 4px;
    box-sizing: border-box;
    margin-left: 20px;
}

ul.products_menu li.product .favorite {
    width: 20px;
    height: 20px;
    display: inline-block;
    position: absolute;
    box-sizing: border-box;
    background: transparent url(../images/favorite_border.png) 0% 0% no-repeat padding-box;
    margin-right: 22px;
    margin-top: 19px;
    right:0;
}

ul.products_menu li img {
    box-sizing: border-box;
    margin: 0;
}

ul.products_menu .details {
    display: flex;
    width: 300px;
    margin-top: -4px;
}

ul.products_menu .product_name {
    width: 173px;
    height: 56px;
    border: 1px solid #EAF0ED;
    box-sizing: border-box;
    line-height: 56px;
}

ul.products_menu .product_price {
    width: 127px;
    height: 56px;
    display: block;
    border: 1px solid #EAF0ED;
    box-sizing: border-box;
    line-height: 56px;
}

ul.products_menu .added_cart {
    height: 65px;
    border: 1px solid #EAF0ED;
    background-color: #EAF0ED;
    font: normal normal 600 24px/20px PingFang TC;
    color: #3F5D45;
    line-height: 65px;
    box-sizing: border-box;
}

.pages{
    margin: 10px 0px 60px 0px;
}

.pages ul{
    display: flex;
    justify-content: flex-end;
    margin: 0 auto;
    width: 940px;
}

.pages ul li{
    width: 60px;
    height: 60px;
    border: 1px solid #EAF0ED;
    box-sizing: border-box;
    text-align: center;
    padding: 20px;
    font: normal normal 300 20px/20px PingFang TC;
    color: #3F5D45;
}

.pages ul li.selected{
    background: #3F5D45 0% 0% no-repeat padding-box;
    color: #EAF0ED;
}
